.accordion {
    justify-content: center;
    left: auto;
    right: auto;
    padding-left: 25%;
    padding-right: 25%;
}

.accordionLandingPage {
    background-color: black;
    padding-top: 3%;
}

.accordionCard {
    background-color: #303030;
    color: white;
    padding: .8em 2.2em .8em 1.2em;
    margin-bottom: 1px;
    font-weight: 400;
    position: relative;
    width: 100%;
    border: 0;
}

.accordionCard .btn-link{
    color: white;
    text-decoration-style: none;
}

.faqSignUp {
   background-color: aqua;
}